Checks: 
'-*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  objc-*,
  boost-use-to-string,

  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-special-member-functions,

  performance-*,
  portability-*,
  readability-*,
  cppcoreguidelines-avoid-c-arrays,
  cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  cppcoreguidelines-pro-type-const-cast,
  cppcoreguidelines-pro-type-reinterpret-cast,
  cppcoreguidelines-pro-type-vararg,
  readability-identifier-length,
  misc-const-correctness,
  modernize-avoid-c-arrays,
  modernize-use-using'
  performance-unnecessary-value-param
  -modernize-use-trailing-return-type,
  -bugprone-easily-swappable-parameters
CheckOptions:
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: true